@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;1,100;1,200;1,400&family=Orbitron:wght@400;500&display=swap');

body {
    padding: 0;
    margin: 0;
}

.home-bg,
.quiz-bg,
.quotes-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-bg {
    background-image: url(../images/spaceship.webp);    
}

.quiz-bg {
    background-image: url(../images/quiz-bg.webp);
}

.quotes-bg {
    background-image: url(../images/quotes-bg.webp);
}

.find-bg {
    background-color: #600;
}
h1,
h2,
h3 {
    font-family: "Orbitron", sans-serif;
}

h4,
p {
    font-family: "Exo 2", sans-serif;
}

.heading {
    font-family: "Orbitron", sans-serif;
    color: #efb200;
    text-shadow: 5px 5px 5px black;
    font-weight: 700;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1rem;
    text-decoration: none;
}

.header-container {
    width: 80vw;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 10px 10px rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
}

.header-container h2 {
    color: #efb200;
}

.header-container h3 {
    color: #efb200;
    margin-top: 3rem;
    font-weight: bold;
}

.header-container p {
    font-weight: bold;
    margin: 0.5rem;
}

.games {
    padding: 1rem;
    margin: 2rem 1rem 2rem;
}

.quiz-link {
    background: #29407c;
    color: #fff;
}

.quotes-link {
    background: #600;
    color: #fff;
}

.rescue-link {
    background: #29407c;
    color: #fff;
}

.quiz-link,
.quotes-link,
.rescue-link,
.start-quiz {
    padding: 1rem;
    margin: 1rem;
    font-family: "Exo 2", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0.2rem rgba(255, 255, 255, 0.3);
}

.quiz-link:hover,
.quotes-link:hover,
.rescue-link:hover {
    filter: brightness(120%);
}

.quiz-link:active,
.quotes-link:active,
.rescue-link:active {
    transform: translate(0, 0.2rem);
    box-shadow: 0 0.1rem rgb(239, 178, 0, 0.5);
}

.instructions-container,
.quiz-container {
    width: 50vw;
    border-radius: 5px;
    background-color: #29407c;
    color: #fff;
    font-family: "Exo 2", sans-serif;
    /* box-shadow: 0 10px 10px 10px rgba(255, 255, 255, 0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
}

.instructions-title {
    font-weight: 500;
    color: #fff;
}

.start-quiz {
    background-color: #d08504;
    padding: 0.5rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem auto;
    padding: 1rem;
}

.exit,
.continue {
    background-color: #600;
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
    margin: 0.5rem;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
}

.timer-title, 
.countdown {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}


.footer {
    background: #d08504;
    width: 100%;
    bottom: 0;
    position: fixed; 
    
}
.map-link {
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    cursor: pointer;
}

/* Styling for quiz game */
.mission-container {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.mission-intro {
    font-family: "Orbitron", sans-serif;
    color: #d08504;
    font-weight: 400;
    font-size: 2rem;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);

    /* adding text animation */
    animation-name: slide;
    animation-duration: 3s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: fowards;
    -o-animation-fill-mode: forwards;
}

@keyframes slide {
    0% {transform: rotateX(45deg)}
    33% {transform: rotateX(90deg)}
    66% {transform: rotateX(145deg)}
    100% {transfor: rotateX(180deg)}
}







@media screen and (max-width: 38.75em) {
    .heading {
        font-size: 2rem; 
    }

    .mission-intro {
        font-size: 1.5rem;
    }
   
}

@media screen and (max-width: 43em) {
    .heading {
        font-size: 1.75rem; 
    }

    .mission-intro {
        font-size: 1.25rem;
    }

    .games {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
}