/* GOOGLE FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;0,600;0,700;1,300;1,400;1,500&family=Orbitron:wght@400;500&display=swap');

/* RESETS BODY STYLING */
body {
    padding: 0;
    margin: 0;
}

/* SETTING BACKGROUND STYLING FOR EACH PAGE */
.home-bg,
.quiz-bg,
.quotes-bg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home-bg {
    background-image: url(../images/spaceship.webp);    
}

.quiz-bg {
    background-image: url(../images/quiz-bg.webp);
}

.quotes-bg {
    background-image: url(../images/planets-bg.webp);
}

/* FONTS STYLING */
h1 {
    font-family: "Orbitron";
}

h2,
h3, 
h4, 
p {
    font-family: "Exo 2", sans-serif;
}

/* GAME HEADING STYLING */
.heading {
    color: #efb200;
    text-shadow: 5px 5px 5px black;
    font-weight: 700;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 1rem;
    text-decoration: none;
}

.header-container {
    width: 80vw;
    border-radius: 0.625rem;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 10px 10px rgba(81, 212, 235, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    padding: 0 1rem;
}

.header-container h3 {
    color: #efb200;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
}

.header-container p {
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0;
    color: #fff;
    align-content: center;
}

/* WELCOME MESSAGE STYLING */
.welcome-text {
    color: #efb200;
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;

/* adding text animation */
    animation-name: slide-in;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
}

@keyframes slide-in {
    0% {transform: rotateX(45deg)}
    25% {transform: rotateX(90deg)}
    50% {transform: rotateX(145deg)}
    75% {transform: rotateX(180deg)}
    100% {transform: rotateX(360deg)}
}    

/* LINKS TO EACH GAME STYLED AS BUTTONS */
.games {
    padding: 1rem;
    margin: 2rem 1rem 2rem;
}

.quiz-link {
    background: #29407c;
    color: #fff;
    margin-bottom: 0.25rem;
}

.quotes-link {
    background: #600;
    color: #fff;
    margin-bottom: 0.25rem;
}

.quiz-link,
.quotes-link {
    padding: 0.5rem;
    margin: 0 0.5rem 0.5rem; 
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 0.625rem;
    border: 1px solid #fff;
    cursor: pointer;
}

.start-quiz {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0 auto; 
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 0.625rem;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
}

.quiz-link:hover,
.quotes-link:hover {
    filter: brightness(120%);
}

.quiz-link:active,
.quotes-link:active {
    transition: all 0.3s ease-in-out 0s;
}

/* STYLING FOR QUIZ GAME */
/* quiz game containers styles */
.instructions-container,
.quiz-container {
    width: 70vw;
    border-radius: 0.625rem;
    background-color: #000;
    box-shadow: 0 10px 10px 10px rgba(81, 212, 235, 0.4);
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.start {
    margin-bottom: 2rem;
}

.instructions-container {
    margin: 2rem auto 2rem;
}

.quiz-container {
    display: none;
    margin: 2rem auto 5rem;
}

.results-container {
    width: 50vw;
    border-radius: 0.625rem;
    font-family: "Exo 2", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.results-container p {
    text-shadow: 5px 5px 5px black;
}




.answers-container {
    display: flex;
    flex-direction: column;
}

/* INTRO TO QUIZ GAME STYLING */
.mission-intro {
    font-family: "Orbitron", sans-serif;
    color: #d08504;
    font-weight: 400;
    font-size: 1.75rem;
    text-align: center;
    margin: 0 auto;
    max-width: 80vw;

/* text animation */
    animation-name: slide;
    animation-duration: 2s;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: fowards;
    -o-animation-fill-mode: forwards;
}

@keyframes slide {
    0% {transform: rotateX(45deg)}
    25% {transform: rotateX(90deg)}
    50% {transform: rotateX(145deg)}
    75% {transform: rotateX(180deg)}
    100% {transform: rotateX(360deg)}
}

/* QUIZ GAME FONTS STYLING */
.instructions-title {
    font-weight: 500;
    font-size: 1.75rem;
    color: #fff;
    margin-bottom: 0;
}

.question-text,
.results-text {
    font-weight: 700;
    font-size: 1.75rem;
    color: #efb200;
    margin: 0 auto;
    padding-top: 1rem;
}

.answer,
.instructions-list {
    font-weight: 400;
    font-size: 1.5rem;
    color: #fff;
}

/* STYLING FOR QUIZ ANSWER OPTIONS, JS LOADS THE QUIZ CONTENT DYNAMICALLY */
.options-btn {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 0.625rem;
    font-weight: 700;
    color: #000;
    padding: 0.5rem;
    margin: 1rem 1rem auto;
}

/* USER FEEDBACK STYLING AFTER AN ANSWER IS CHOSEN */
.correct {
    background-color: rgb(114, 173, 114); 
    color: #fff;
}

.wrong {
    background-color: rgb(201, 109, 109);
    color: #fff; 
}

/* STYLING FOR END OF QUIZ TO PROVIDE USER FEEDBACK */
.results-container {
    font-weight: 700;
    font-size: 1.75rem;
    color: #efb200;
    margin: 0 auto;
}

.results-container p {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.results-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* STYLING FOR THE QUIZ SCORE AREA */
.score-area {
    color: #fff;
    font-size: 1.5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    width: 60%;
    margin: 0 auto 1rem;
}

.scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    margin-bottom: 0;
}

#incorrect {
    color: red;
    padding: 0 1rem;
}

#score {
    color: greenyellow;
    padding: 0 1rem;
}

/* STYLING TO HIDE ELEMENTS VIA JS */
.hide {
    display: none;
}

.disabled {
    pointer-events: none;
}

/* STYLING FOR THE QUIZ GAME NAVIGATION */
.start-quiz {
    background-color: #d08504;
    padding: 0.5rem;
}

.game-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;   
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
}

.btn-exit {
    background-color: #600;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-continue {
    background-color: #04d093;
    color: #000;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-exit,
.btn-continue {
    padding: 0.5rem;
    border-radius: 0.625rem;
    margin: 0.5rem;
    font-family: "Exo 2", sans-serif;
}

.footer {
    background: #d08504;
    width: 100%;
    bottom: 0;
    position: fixed;     
}

.map-link {
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    cursor: pointer;
}

/* MODAL CONTAINER STYLING 
Part of FlorinPop YouTube tutorial, Create a Modal 
- https://www.youtube.com/watch?v=XH5OW46yO8I 
*/
.modal-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;  
    pointer-events: none;
}

.modal-popup.show {
    pointer-events: auto;
    opacity: 1;
}

/* modal buttons styling*/
.modal-open-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #000;
    background-color: #d08504;
    font-size: 1.5rem;    
    border-radius: 0.625rem;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
}

.modal-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.5rem;
    color: #fff;
    background-color: #600;
    border-radius: 0.625rem;
    padding: 0.5em;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.modal {
    background-color: #000;
    max-width: 100%;
}

/* styling for modal intro text before the feedback form */
.modal-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal h3 {
    color: #efb200;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 2rem;    
}

.feedback-text {    
    font-family: "Exo 2", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    max-width: 80%;
    color: #d08504;
    margin: 0;
}

/* STYLING FOR FEEDBACK FORM */
.feedback-intro {
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

.feedback-container {
    border: 2px solid #fff;
    border-radius: 0.625rem;
    margin: 2rem auto;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #d08504;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 1rem auto;
    width: 90%;
}

.feedback-input {
    padding: 1rem;
    font-family: "Orbitron", sans-serif;
    font-weight: 300;
    margin-bottom: 1rem;
}

.email-btn {
    padding: 0.5rem;
    border-radius: 0.625rem;
    margin: 1rem auto 0;
    max-width: 50%;
    color: #000;
    background-color: #d08504;
    text-transform: uppercase;
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}


/* STYLING FOR THE QUOTE GENERATOR */
/* quote container styles */
.quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgba(73, 55, 73, 0.5);
    width: auto;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1.5rem 2rem;
    color: #fff;
    border-radius: 0.625rem;
}

.fa-twitter {
    font-size: 2rem;
    color: #29407c;
}

.quote-text {
    font-family: "Exo 2", sans-serif;
    font-size: 2.75rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.long-quote {
    font-size: 2rem;
}

.quote-author {
    font-family: "Exo 2", sans-serif;
    font-size: 2rem;
    font-style: italic;
    padding: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.quote-icon {
    height: 3rem;
    width: 3rem;
    color: #fff;
}

.twitter-button,
#new-quote {
    outline: none;
    cursor: pointer;
    border-radius: 0.625rem;
    font-size: 1rem;
    height: 2rem;
    border-radius: 0.625rem;
    background-color: #000;
    color: #fff;
}

.twitter-button:hover,
#new-quote:hover {
    filter: brightness(120%);
} 

.twitter-button:active,
#new-quote:active {
    background-color: #29407c;
} 

/* MEDIA QUERIES FOR SMALL DEVICES (MOBILES) */
@media screen and (max-width: 29.5em) {
    .heading {
        font-size: 1.5rem; 
    }

    .welcome-text {
        font-size: 1.25rem;
    }
    
    .results-content {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    .scores {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-weight: 800;
        margin-bottom: 0;
    }

    /* styling for the feedback form for mobile devices    */
    .modal h3 {
        color: #efb200;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 1.5rem;    
    }

    .feedback-form {
        font-size: 1.25rem;
    }

    .feedback-text {    
        font-size: 1rem;
        max-width: 80%;
        color: #d08504;
    }

    /* styling for the feedback form for mobile devices    */
      .feedback-input {
        max-width: 90%;
    }

    .feedback-text-area {
        max-width: 90%;
    }

    .email-btn {
        max-width: 95%;
        font-size: 1rem;
    }

    .modal-close-btn {
        font-size: 1rem;
    }

    .quote-container {
        margin: auto 0.75rem;
    }

    .quote-text {
        font-size: 2rem;
    }

    .quote-author {
        font-size: 1.5rem;
    }
}

/* MEDIA QUERIES FOR MID-SIZED DEVICES (TABLETS) */
@media screen and (max-width: 38.75em) {
    .heading {
        font-size: 1.75rem; 
    }

    .welcome-text {
        font-size: 1.5rem;
    }

    .mission-intro {
        font-size: 1.25rem;
    }

    .instructions-title {
        font-size: 1.25rem;
        margin-bottom: 0;
    }

    .instructions-list {
        font-size: 1rem;
    } 
    
    .score-area {
        flex-direction: column;
        width: 80%;
    }     
}

/* MEDIA QUERIES FOR OTHER MID-SIZED DEVICES (IPAD, KINDLE) */
@media screen and (max-width: 45em) {
    .heading {
        font-size: 1.75rem; 
    }

    .header-container p {
        font-weight: 400;
        font-size: 1rem;
    }

    .games {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .mission-intro {
        font-size: 1.25rem;
    }

    .instructions-container,
    .quiz-container {
        width: 90vw;
    } 

    .games {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0.25rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .score-area {
        flex-direction: column;
        width: 90%;
    }

    /* styling for the feedback form for mid-sized screens */
    .feedback-text-area {
        max-width: 95%;
    }    
}

/* FIND OTHER TREKKIES USING GOOGLE MAP */
/* .other-trekkies {
    font-weight: 800;
    color: #d08504;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.find-trekkies {
    font-weight: 500;
    color: #d08504;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    padding: 0 1rem;
}

.map {
    display: flex;
    justify-content: center;
    width: 80vw;
    height: 70vh;
    margin: 1rem auto;
} */



/* MEDIA QUERIES FOR NOTEBOOKS AND LAPTOPS */
@media screen and (max-width: 48em) {
    .games {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 0.25rem;
    }
}

/* MEDIA QUERIES FOR BIGGER SCREENS */
@media screen and (max-width: 66.5em) {
    .start {
        margin-bottom: 5rem;
    }

    .score-area {
        flex-direction: column;
        width: 90%;
    }
}
